<style>  
    .my-card {
        position:absolute;
        left:40%;
        top:-20px;
        border-radius: 20%, 20%, 20%, 20%;
    }
</style> 
<div class="card pmd-card">
    <div class="pmd-tabs pmd-tabs-dark" scroll="true">
        <ul class="nav nav-tabs bg-primary">
            <li class="nav-item" role="presentation">
                <a ng-click="toAccInfo()" href="#" class="nav-link" role="tab" data-toggle="tab"> 
                    Profile
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a ng-click="toAccChange()" class="nav-link active" href="#about-scrollable" aria-controls="about" role="tab" data-toggle="tab">
                    New Password
                </a>
            </li>
        </ul>
    </div>
</div>

<section class=" class="bootstrap snippet"">
    <div class="container pt-lg-5">
        <div class="col-md-12 pt-lg-5 container-fluid">
            <div class="card border-danger shadow-lg mx-sm-1 p-3">
                <div class="card border-danger shadow text-center text-danger p-3 my-card" >
                    <span aria-hidden="true">
                        <h3> <i class="fa fa-edit" ></i> &nbsp; Password Change</h3>
                    </span>
                </div>
                <div class="card-body text-center container mt-4">
                    <div class="card shadow mx-lg-1 mt-5">
                        <form class="pt-5">
                            <div class="form-group" align="center">
                                <div class="input-group input-group-lg  col-md-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Current Password : &nbsp;</span>
                                    </div>
                                    <input ng-model="current.currentpassword" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div> 
                            <div class="form-group" align="center">
                                <div class="input-group input-group-lg  col-md-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">New Password : &nbsp;&nbsp;</span>
                                    </div>
                                    <input ng-model="current.newpassword" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                            <div class="form-group" align="center">
                                <div class="input-group input-group-lg  col-md-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Confirm Password : &nbsp;</span>
                                    </div>
                                    <input ng-model="current.confirm" type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div> 
                            <div class="form-group pt-3">
                                <button ng-click="ChangePassword(current)" type="button" class="btn btn-danger btn-lg"> save password </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>